* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: white;
  background-color: black;

  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
}

.photo-container {
  text-align: center;
  font-size: 0; /* remove extra pixels of space (added b/c of font descender elements) */
  height: 100%;
  max-height: 100vh;
}

.photo {
  height: 100%;
}

.credit-title {
  font-weight: bold;
}

header {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

/* App Logo Text */
.site-title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  color: white;
  text-decoration-line: none;
}

.site-title:hover {
  color: white;
  opacity: 0.76;
}

footer {
  position: fixed;
  display: flex;
  bottom: 0;
  z-index: 1;

  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vertical {
  flex-direction: column;
}

.Timer {
  color: white;
  font-size: 28px;
  margin: 10px;
  padding: 2px 6px;

  /* 
  If Background Color is White:
  color: black;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  border: none; */
}

.menuButton img,
.arrowButton img,
.playButton img,
.pauseButton img,
.infoButton img {
  filter: invert(100%);
}

.menuButton,
.arrowButton,
.playButton,
.pauseButton,
.infoButton {
  background: transparent;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;

  /* 
  If Background Color is White:
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  border: none;
  */
}

.playButton {
  padding: 5px 8px;
}

.menuButton:hover,
.arrowButton:hover,
.playButton:hover,
.pauseButton:hover,
.infoButton:hover {
  cursor: pointer;
}

main {
  padding: 20px;
}

.container {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

main h1 {
  margin-bottom: 1.6rem;
}

main p {
  max-width: 800px;
  font-size: 18px;
}

p {
  margin-bottom: 0.5rem;
}

form {
  padding-top: 14px;
}

.loading-container {
  height: 100vh;
  overflow: hidden;
}

.loading-text {
  text-align: center;
  margin-top: 50vh;
}

/* Fetching animation */
/* adapted from: https://codepen.io/thetallweeks/pen/yybGra */
.loading-text:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: '\2026'; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1em;
  }
}

/* Category Select Form */
form span {
  padding-left: 0.5rem;
}

form label,
form button {
  margin-right: 15px;
  margin-top: 15px;
}

.btn-light:hover {
  background-color: lightgray;
  border: 1px solid lightgray;
}
